.text_bubble_div {
    width: auto;
    border-radius: 40px;
    border: 3px solid var(--bubbles-background-color);
    background-color: var(--bubbles-background-color);

    
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    justify-content: center;
    font-size: 1.25vw;
    text-align: center;
    overflow: hidden;
    padding: 0;
    height: auto;
}


.text_bubble_div_title {
    width: auto;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 3px solid var(--bubbles-background-color);
    background-color: var(--bubbles-background-color);
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1vw, 2vw, 2vw); /* Adjusts dynamically */
    text-align: center;
    
}


.image_bubble_div {
    border-radius: 40px;
    border: 3px solid var(--bubbles-background-color);
    display: block; /* Use block instead of inline-block to make it behave correctly within grid */
    overflow: hidden; /* Clips the image to match the border radius */
    width: 100%; /* Take full width of assigned grid space */
    height: 100%; /* Take full height of assigned grid space */

}

.image_bubble_div img {
    display: block; /* Remove extra space under the image */
    width: 100%; /* Ensure image fills the width of the container */
    height: 100%; /* Ensure image fills the height of the container */
    object-fit: cover; /* Ensures the image completely fills the div */
    object-position: contain; /* Ensures the image is centered */
}



.bubble {
    
}



.bubble_container {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    /* 3 columns */
    grid-template-rows: repeat(15, 1fr);
    /* 2 rows, each 200px tall */
    gap: 2vw;  /* Adjusts dynamically */
    padding: 3vw; /* Adjusts with screen size */
}



/* Media query for smaller screens */
@media screen and (max-width: 890px) {
    .bubble_container {
        display: flex;  /* Switch to flexbox layout */
        flex-wrap: wrap;  /* Allow wrapping of items */
        justify-content: space-between;  /* Distribute items evenly */
        gap: 30px;  /* Space between items */
    }

    .bubble {
        border-radius: 40px;
        flex: 1 1 100%;  /* Make each item take full width, but shrink when needed */
        font-size: 5vw;
    }

    .text_bubble_div_title {
        font-size: 8vw;
        margin-bottom: 5%;
        height: auto;
        aspect-ratio: unset;
    }


    .text_bubble_div {
        font-size: 3vw;
        margin-bottom: 5%;
        height: auto;
    }
}


.decorative_blob {
    width: 100%;
    aspect-ratio: 1;
    background-color: var(--bubbles-background-color);
    border-radius: 50%;
}