.template {
    background-color: var(--background-primary-color);
    border-radius: 30px;
    /*border: 3px solid var(--text-primary-color);*/
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 8%;
    margin-bottom: 2%;
    padding-left: 15px;
    min-height: 1000px;
}


.template_projects_timeline {
    background-color: transparent;
    border-radius: 30px;
    /*border: 3px solid var(--text-primary-color);*/
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 0%;
    margin-bottom: 2%;
    padding-left: 15px;
    min-height: 1000px;
}

h1 {
    padding-top: 5px;
}

.main_container {
    display: flex;
    padding-left: 6%;
    margin-right: 6%;
    margin-top: 6%;
}


@media (max-width: 890px) {
    .main_container {
        display: block;
    }
}


@media (min-width: 890px) {
    .main_container {
        display: flex;
    }
}

.container_cards {
    border-radius: 30px;
    /*border: 3px solid var(--text-primary-color);*/
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 4%;
    margin-bottom: 2%;
    padding-left: 15px;
    padding-top: 50px;
    min-height: 1000px;
}

/*

body {
    animation: fadeIn 2s forwards;
}

/* Define the keyframes for the fade-in effect 
@keyframes fadeIn {
    0% {
        background-color: #000; /* Start color 
        opacity: 0;
    }
    100% {
        background-color: transparent; /* End color 
        opacity: 1;
    }
}*/


.text_bubble_projects {
    margin-top: 15px;
    width: auto;
    display: inline-block;
    border-radius: 120px;
    border: 3px solid var(--app-color-charcoal400);
    background-color: var(--app-color-charcoal400);
    padding: 15px;
}



.text_bubble_work {
    margin-top: 15px;
    width: auto;
    display: inline-block;
    border-radius: 120px;
    border: 3px solid var(--app-color-charcoal500);
    background-color: var(--app-color-charcoal500);
    padding: 15px;
}


.text_bubble_div{
    width: auto;
    border-radius: 120px;
    border: 3px solid black;
    background-color: black;
    padding: 50px;
    font-size: xx-large;
}


.text_bubble_div_title{
    border-radius: 50%;
    width: 350px;   /* Set width */
    height: 350px;  /* Set height */
    border: 3px solid black;
    background-color: black;
    padding: 50px;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.image_bubble_div {
    margin-left: 20%;
    margin-top: 8%;
    border-radius: 80px;
    border: 3px solid black;
    display: inline-block; /* Ensures div wraps around the image */
    overflow: hidden; /* Clips the image to match the border radius */
    margin-bottom: 90%;
    max-width: 1000px;
}

.image_bubble_div img {
    display: block; /* Remove extra space under the image */
    width: 100%;
    height: 100%;
    border-radius: 15px; /* Ensures image follows the div's border */
    object-fit: cover; /* Makes sure the image completely fills the div */
    object-position: center; /* Ensures the image is centered */
}