.template {
    background-color: var(--background-primary-color);
    border-radius: 30px;
    /*border: 3px solid var(--text-primary-color);*/
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 8%;
    margin-bottom: 2%;
    padding-left: 15px;
    min-height: 1000px;
}


.template_projects_timeline {
    background-color: transparent;
    border-radius: 30px;
    /*border: 3px solid var(--text-primary-color);*/
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 0%;
    margin-bottom: 2%;
    padding-left: 15px;
    min-height: 1000px;
}

h1 {
    padding-top: 5px;
}

.main_container {
    display: flex;
    padding-left: 6%;
    margin-right: 6%;
    margin-top: 6%;
}


@media (max-width: 890px) {
    .main_container {
        display: block;
    }
}


@media (min-width: 890px) {
    .main_container {
        display: flex;
    }
}

.container_cards {
    border-radius: 30px;
    /*border: 3px solid var(--text-primary-color);*/
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 4%;
    margin-bottom: 2%;
    padding-left: 15px;
    padding-top: 50px;
    min-height: 1000px;
}

/*

body {
    animation: fadeIn 2s forwards;
}

/* Define the keyframes for the fade-in effect 
@keyframes fadeIn {
    0% {
        background-color: #000; /* Start color 
        opacity: 0;
    }
    100% {
        background-color: transparent; /* End color 
        opacity: 1;
    }
}*/