html {
    
    scroll-behavior: smooth;
    scroll-padding-top: 51px;
    display: block;
    font-size: 18px;
    font-style: bold;
}


* {
    box-sizing: border-box;
}


:root {
    --background-primary-color: hsla(36, 31%, 85%, 1);
    --background-secondary-color: hsla(36, 31%, 93%, 1);
    --text-primary-color: hsla(172, 95%, 18%, 1);
}


body {
    margin: 0;
    margin-top: 65px;
    background: var(--background-primary-color);
    color: var(--text-primary-color);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: .01071em;
    display: block;
    margin-right: 1%;
    margin-left: 1%;
}


div {
    display: block;
    unicode-bidi: isolate;
}


/*
    This is used for the styling of the navigation bar texts. They inherit the --text-primary-color as defined in the root.
*/
a {
    text-decoration: none;
    color: inherit;
}


h1 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    margin: 0;
}


h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}


