.main_container {
    background-color: var(--color-pink);  /* Start with pink background */
    opacity: 0.8;  /* Initially hidden */
    transition: opacity 1s ease-in-out, background-color 1s ease-in-out; /* Fade in opacity and background color */
}

/* When fade-in class is added */
.main_container.fade-in {
    opacity: 1;  /* Fade content in */
    background-color: var(--color-final, transparent);  /* Final background color after fade-in */
}


