.text_bubble_div {
    width: auto;
    border-radius: 40px;
    border: 3px solid black;
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
    text-align: center;
    overflow: hidden;
}


.text_bubble_div_title {
    width: auto;
    border-radius: 120px;
    border: 3px solid black;
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1vw, 2vw, 2vw); /* Adjusts dynamically */
    text-align: center;
    
}


.image_bubble_div {
    border-radius: 80px;
    border: 3px solid black;
    display: block; /* Use block instead of inline-block to make it behave correctly within grid */
    overflow: hidden; /* Clips the image to match the border radius */
    width: 100%; /* Take full width of assigned grid space */
    height: 100%; /* Take full height of assigned grid space */

}

.image_bubble_div img {
    display: block; /* Remove extra space under the image */
    width: 100%; /* Ensure image fills the width of the container */
    height: 100%; /* Ensure image fills the height of the container */
    object-fit: cover; /* Ensures the image completely fills the div */
    object-position: center; /* Ensures the image is centered */
}



.bubble {

}



.bubble_container {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    /* 3 columns */
    grid-template-rows: repeat(20, 1fr);
    /* 2 rows, each 200px tall */
    gap: 2vw;  /* Adjusts dynamically */
    padding: 3vw; /* Adjusts with screen size */
}



/* Media query for smaller screens */
