.sport_fadeIn {
    animation: fadeIn_sport 3s forwards;
}


.solo_baila_fadeIn {
    animation: fadeIn_solo_baila 3s forwards;
}


.dashboard_cov_fadeIn {
    animation: fadeIn_dashboard_cov 3s forwards;
}


.ludo_fadeIn {
    animation: fadeIn_ludo 3s forwards;
}


.default_fadeIn {
    animation: fadeIn_default 0.5s forwards;
}


/* Define the keyframes for the fade-in effect */
@keyframes fadeIn_sport {
    0% {
        background-color: var(--color-pink); /* Start color */
        opacity: 0; /* Keep opacity at 1 */
    }
    100% {
        background-color: transparent; /* End color */
        opacity: 1; /* Keep opacity at 1 */
    }
}

/* Define the keyframes for the fade-in effect */
@keyframes fadeIn_solo_baila {
    0% {
        background-color: var(--color-mint); /* Start color */
        opacity: 0; /* Keep opacity at 1 */
    }
    100% {
        background-color: transparent; /* End color */
        opacity: 1; /* Keep opacity at 1 */
    }
}

/* Define the keyframes for the fade-in effect */
@keyframes fadeIn_dashboard_cov {
    0% {
        background-color: var(--color-rust); /* Start color */
        opacity: 0; /* Keep opacity at 1 */
    }
    100% {
        background-color: transparent; /* End color */
        opacity: 1; /* Keep opacity at 1 */
    }
}

/* Define the keyframes for the fade-in effect */
@keyframes fadeIn_ludo {
    0% {
        background-color: var(--color-babyblue); /* Start color */
        opacity: 0; /* Keep opacity at 1 */
    }
    100% {
        background-color: transparent; /* End color */
        opacity: 1; /* Keep opacity at 1 */
    }
}

/* Define the keyframes for the fade-in effect */
@keyframes fadeIn_default {
    0% {
        background-color: black; /* Start color */
        opacity: 0; /* Keep opacity at 1 */
    }
    100% {
        background-color: transparent; /* End color */
        opacity: 1; /* Keep opacity at 1 */
    }
}