.main_display h1 {
    font-family: "Nunito", "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 4rem;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 10px;
    color: var(--title-page-text-color);
}


.main_display h2 {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--title-page-text-color);
}